{% extends 'base.html' %}

{% block content %}
    <title>Product List</title>

    <h1>Product List</h1>
    <p>Logged in as: {{ user.username }} (Role: {{ user.role }})</p> 
    <ul>
        {% for product in products %}
            <li>
                {{ product.name }} - ${{ product.price }}
                {% if user.is_authenticated and user.role == 'ADMIN' %}
                    <a href="{% url 'edit-product' product.id %}" class="btn btn-sm btn-warning">Edit</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated and user.role == 'ADMIN' %}
        <a href="{% url 'product-create' %}">Create New Product</a>
    {% endif %}
{% endblock %}