
{% extends 'base.html' %}

{% block content %}
<h2>Your Orders</h2>

<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Type</th>
            <th>Quantity</th>
            <th>Price per Unit</th>
            <th>Total Price</th>
            <th>Status</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.product.name }}</td>
            <td>{{ order.get_order_type_display }}</td>
            <td>{{ order.quantity }}</td>
            <td>${{ order.price }}</td>
            <td>${{ order.total_price }}</td>
            <td>{{ order.get_status_display }}</td>
            <td>{{ order.created_at }}</td>
            <td>
                <a href="{% url 'frontend:order-invoice' order.id %}" class="btn btn-primary" target="_blank">Download Invoice</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">You have no orders.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'invoice-pdf' %}" class="btn btn-primary">Full invoice</a>

<a href="{% url 'frontend:buy-sell' %}" class="btn btn-primary">Back to Buy/Sell</a>
{% endblock %}