{% extends 'base.html' %}

{% block content %}
<h2>Profile</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save Changes</button>
</form>

<!-- Display the current profile picture -->
{% if user.profile_picture %}
    <img src="{{ user.profile_picture.url }}" alt="Profile Picture" style="max-width: 200px;">
{% else %}
    <p>No profile picture uploaded.</p>
{% endif %}

<a href="{% url 'product-list' %}">Back to Home</a>
{% endblock %}
